<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
        <div class="card mt-5" style="text-align: center;">
            <div class="card-body">
                <h4 class="card-title">WELCOME</h4>
                <a href="/users/logout" class="btn bg-danger btn-block" style="color: white;">LOGOUT</a>
            </div>
        </div>
    </div>
</div>