<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
        <div class="card mt-5" style="text-align: center;">
            <div class="card-body">
                <h5 class="card-title">WELCOME</h5>
                <p class="card-text">This is simple sample of a passport authentication . Check it out!</p>
                <a href="/users/signup" class="btn btn-danger btn-block">SIGN UP</a>
                <a href="/users/login" class="btn btn-danger btn-block">LOGIN</a>
            </div>
        </div>
    </div>
</div>